extends layout

block content
  header.bar.bar-nav
    h1.title GUANGZHOU HACK THON

  .actions
    button.btn#stop
      span.icon.icon-stop
      | Stop
    button.btn.btn-primary#left
      span.icon.icon-left
      | Left
    button.btn.btn-positive#right
      span.icon.icon-right
      | Right
    button.btn.btn-negative#back
      span.icon.icon-down
      | Back
