doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-ios.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-android.css')
    link(rel='stylesheet', href='/stylesheets/ratchet.css')
    link(rel='stylesheet', href='/stylesheets/ratchet_overwrite.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/ratchet.js')
    script(src='/socket.io/socket.io.js')


  body
    block content

    script(src='/javascripts/socket_app.js')
