doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-ios.css')

    link(rel='javascript', href='/javascripts/jquery.js')
    link(rel='javascript', href='/javascripts/ratchet.js')
    link(rel='javascript', href='/socket.io/socket.io.js')

  body
    block content
