doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-ios.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-android.css')
    link(rel='stylesheet', href='/stylesheets/ratchet.css')
    link(rel='stylesheet', href='/stylesheets/ratchet_overwrite.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/ratchet.js')
    script(src='/socket.io/socket.io.js')


  body
    block content

    script(src='/javascripts/socket_app.js')
