doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ratchet-theme-ios.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/ratchet.js')
    script(src='/socket.io/socket.io.js')

    script(src='/javascripts/test.js')

  body
    block content
